* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    max-width: 1300px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    width: 500px;
    margin: 50px auto;
    text-align: center;
}

.inp {
    padding: 12px 20px;
    font-size: 23px;
    font-weight: 400;
    border: none;
    border: 2.5px solid rgb(73, 68, 68);
    border-radius: 28px;
}

.btn {
    margin-left: 45px;
    padding: 16px 26px;
    border-radius: 42px;
    font-size: 20px;
    border: none;
    border: 3px solid rgb(73, 68, 68) ;
    background-color:rgba(207, 216, 219, 0.712)  ;
}
.ans {
    margin-top: 80px;
    margin-left: 30px;
    font-size: 24px;
    color:  rgba(56, 55, 54, 0.877);
}